.navbar_wrapper {
  background-color: var(--colorNavbarBackgroundLight_3);
}

.navbar_search_button,
.navbar_search_button:hover {
  background-color: var(--colorNavbarBackgroundLight);
  color: var(--colorWhite);
}

li div,
li a {
  color: var(--colorWhite) !important;
}

ul > li:first-child div {
  font-weight: 700;
}

input {
  background-color: var(--colorWhite) !important;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

form input {
  max-width: 210px;
}

.navbar_form_wrapper {
  position: relative;
}
.navbar_list_form_wrapper {
  position: absolute;
  top: 31px;
  width: 100%;
}

.navbar_list_form_wrapper ul {
  position: relative !important;
  width: 207px !important;
  z-index: 1;
}

.navbar_list_form_wrapper ul li {
  border-radius: 5px !important;
  padding-left: 20px !important;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.navbar_list_form_wrapper ul li.show {
  opacity: 1;
}

.navbar_list_form_wrapper ul li:hover {
  background-color: var(--colorNavbarBackgroundLight);
  color: var(--colorWhite);
}
