.homePage_wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: calc(100vh - 56px);
  min-height: 720px;
}

.homePage_wrapper_container {
  display: flex;
  justify-content: center;
}

.current_weather_wrapper,
.forecast_weather_wrapper {
  margin: 0.5rem;
}

.current_weather_heading_wrapper,
.forecast_weather_heading_wrapper {
  text-align: center;
  font-size: 1.5rem;
  font-family: cursive;
  color: white;
  text-decoration-line: underline;
  margin-bottom: 0.2rem;
}
