:root {
  --colorToggleButton: #9676d1;
  --colorNavbarBackground: #810947;
  --colorNavbarBackgroundLight: #da0b85;
  --colorNavbarBackgroundLight_1: #48cfae;
  --colorNavbarBackgroundLight_2: #c1ff72;
  --colorNavbarBackgroundLight_3: #59981a;
  --colorWhite: #ffffff;
  --colorCard_Rain: #9258cc;
  --font-size: 16px;
}
