:root {
  --colorToggleButton: #9676d1;
  --colorNavbarBackground: #810947;
  --colorNavbarBackgroundLight: #da0b85;
  --colorNavbarBackgroundLight_1: #48cfae;
  --colorNavbarBackgroundLight_2: #c1ff72;
  --colorNavbarBackgroundLight_3: #59981a;
  --colorWhite: #ffffff;
  --colorCard_Rain: #9258cc;
  --colorBlack_1: #000000;
  --colorGrey_1: #808080;
  --color_mist_1: #055dca;
  --color_haze_1: #13f93b;
  --color_clear_1: #35b3ef;
  --font-size: 16px;
}
